*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    list-style-type: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.container{
    max-width: 1320px;
    margin: auto;

}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_24pt-Regular.ttf);
}
.container-box{
    background-color: #1B3764;
}
nav{
    display: grid;
    grid-template-columns: 150px 360px 440px 50px 100px;
    height: 80px;
    align-items: center;
}
.links ul{
    display: flex;
    gap: 30px;
    
}
.links * a{
    color: #fff;
}
.order-Box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCA42;
    width: 150px;
    height: 40px;
}
.order-BTN{
    color: #1B3764;
}
.header-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 100px;
}
.header-main-title-box{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 100px 300px 190px;
}
.raitings-boxs{
    display: grid;
    grid-template-columns: repeat(3,150px);
}
.book-title-box,.book-title-box2,.book-title-box3{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.point-img{
    width: 10px;
    height: 10px;
}
.Book-Pages-Title{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-left: 10px;
    color: #fff;
}
.Book-Pages p{
    margin-left: 20px;
    color: #B4C7E7;
}
.Ratings-Pages p{
   margin-left: 20px;
   width: 160px;
   color: #B4C7E7;
}
.Length-Pages p{
    margin-left: 20px;
    color: #B4C7E7;
}
.header-title-box{
    display: flex;
    align-items: center;
}
.Header-Title-Img{
    width: 34px;
    height: 1px;
}
header{
    padding-bottom: 100px;
}
.header-title{
    margin-left: 30px;
    color: #fff;
    font-style: italic;
}
.Header-Desc-Title{
    font-weight: 700;
    font-size: 65px;
    line-height: 110%;
    letter-spacing: -2px;
    color: #fff;
}
.Header-Desc-Title2{
    font-weight: 400;
    font-size: 19px;
    margin-top: 50px;
    color: #B4C7E7;
    max-width: 575px;
}
.Header-Main-Order{
    display: flex;
    gap: 30px;
    align-items: center;
}
.Header-Main-Order-Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1B3764;
    background-color: #FFCA42;
    width: 150px;
    height: 50px;
}
.Book-Pages-Desc{
    font-weight: 400;
    font-size: 18px;
}
.Header-Main-Order > h3{
    color: #fff;
}
.Header-Main-Background > img{
    width: 552px;
}
.main-header-boxs{
    margin-top: 50px;
    text-align: center;
}
.Header-Title-Img2{
    width: 50px;
    border: 3px solid #FFCA42;
    margin-inline: auto;
    margin-top: 10px;
}
.main-header-img-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 50px;
}
.main-header-title{
    font-weight: 700;
    font-size: 35px;
    color: #1B3764;
}
.main-about-boxs{
    background-color: #F4F8FF;
    padding-bottom: 100px;
    margin-top: 100px;
}
.about-raiting-box{
    display: flex;
    gap: 30px;
}
.about-publish-box{
    border-right: 1px solid #FFCA42;
    padding: 0px 20px 0px 0px;
}
.main-about-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 120px;
}
.main-about-img-box > img{
    width: 500px;
}
.main-about-title{
    color: #1B3764;
    font-weight: 700;
    font-size: 35px;
}
.main-about-title-box{
    margin-top: 50px;
}
.main-about-border-text{
    width: 50px;
    border: 3px solid #FFCA42;
    margin: 5px 0px 30px 0px;
}
.main-about-desc-title{
    color: #969AA0;
    max-width: 567px;
    padding: 10px 0px 50px 0px;
}
.about-publish-title{
    font-size: 35px;
    color: #1B3764;
}
.about-publish-desc,.about-publish-desc2,.about-publish-desc3{
    color: #969AA0;
}
.img-box{
    margin-top: 50px;
}
.main-best-title{
    color: #1B3764;
    font-size: 45px;
    line-height: 120%;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}
.Header-Title-Img3{
    width: 50px;
    border: 3px solid #FFCA42;
    margin-top: 30px;
    margin-inline: auto;
    margin-bottom: 20px;
}
.main-best-img{
    width: 95px;
    height: 88px;
}
.main-best-img2{
    width: 185px;
    height: 70px;
}
.main-best-img3{
    width: 140px;
    height: 88px;
}
.main-best-img4{
    width: 99px;
    height: 99px;
}
.main-best-boxs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
}
.main-best-box,.main-best-box2,.main-best-box3,.main-best-box4{
    text-align: center;
    p {
        color: #969AA0;
        width: 248px;
        margin: auto;
        margin-top: 10px;
    }
    h1{
        color: #1B3764;
        font-size: 24px;
        margin-top: 10px;
    }
}
.main-copy-boxs-box{
    background-color: #1B3764;
    margin-top: 100px;
}
.main-copy-title{
    color: #fff;
    font-size: 45px;
    padding-top: 100px;
}
.main-copy-border{
    width: 50px;
    border: 3px solid #FFCA42;
    margin: 10px 0px 20px 0px;
}
.main-copy-desc{
    color: #B4C7E7;
    font-size: 19px;
    font-weight: 400;
    max-width: 567px;
}
.main-copy-orderBtn{
    border: 1px solid #FFCA42;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 19px;
    color: #fff;
    margin-top: 50px;
}
.main-copy-boxs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.main-copy-back-boxs{
    img{
        margin-top: 30px;
        margin-bottom: 50px;
    }
}
.main-about-desc-box-title{
    color: #1B3764;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.main-desc-cart{
    width: 290px;
    height: 299px;
    background-color: #F4F8FF;
}
.main-desc-card-title{
    background-color: #FFCA42;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.main-desc-cart-title-box{
    padding: 20px;
}
.main-desc-card-title2{
    padding-left: 20px;
    width: 224px;
    line-height: 140%;
    color: #1B3764;
}
.main-about-desc-boxs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.main-about-desc-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.main-about-desc-border{
    width: 50px;
    border: 3px solid #FFCA42;
    margin: auto;
    margin-bottom: 50px;
    margin-top: -30px;
}
.main-about-desc-back-img{
    margin-left: 50px;
}
.bars-img{
    display: none;
    width: 50px;
    height: 50px;
}
#linksBox{
    display: none;
}
.links2{
    position: absolute;
    background-color: black;
    width: 200px;
    height: 300px;
    right: 0;
    z-index: 2;
    a{
        color: #fff;
    }
    li{
        padding: 20px 20px;
    }
    
}
.main-chapter-boxs{
    background-color: #F4F8FF;
    margin-top: 100px;
}
.main-chapter-title{
    color: #1B3764;
    font-weight: 700;
    font-size: 40px;
    padding-top: 100px;
    text-align: center;
}
.main-chapter-border{
    width: 50px;
    border: 3px solid #FFCA42;
    margin: 20px auto 20px auto;
}
.main-chapter-cart{
    width: 570px;
    height: 250px;
    background-color: #fff;
    margin-top: 50px;
    padding: 40px;
}
.main-chapter-cart2{
    width: 570px;
    height: 250px;
    background-color: #fff;
    margin-top: 50px;
    padding: 40px;
}
.main-chapter-cart3{
    width: 570px;
    height: 250px;
    background-color: #fff;
    margin-top: 50px;
    padding: 40px;
}
.main-chapter-cart4{
    width: 570px;
    height: 250px;
    background-color: #fff;
    margin-top: 50px;
    padding: 40px;
}
.main-chapter-about-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-chapter-about-point{
    width: 15px;
    height: 15px;
}
.main-chapter-about-cart2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-chapter-about-box{
    display: flex;
    align-items: center;
    gap: 50px;
}
.main-chapter-about-cart-title,.main-chapter-about-cart-title2{
    font-size: 22px;
}
.main-chapter-about-cart-desc,.main-chapter-about-cart-desc2{
    font-size: 16;
    margin-top: 3px;
}
.main-chapter-title2{
    color: #1B3764;
    font-size: 24px;
    font-weight: 700;
}
.main-chapter-desc{
    color: #969AA0;
    padding: 20px 0px;
    width: 424px;
}
.main-chapter-carts{
    display: grid;
    grid-template-columns: repeat(2,600px);
    justify-content: center;
}
.main-chapter-btn{
    width: 400px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCA42;
    color: #1B3764;
    font-weight: 700;
    font-size: 19px;
    margin: auto;
    margin-top: 70px;
}
.main-chapter-about-title-desc{
    margin-top: 30px;
    width: 308px;
    color: #969AA0;
    font-weight: 400;
    padding-bottom: 100px;
    span{
        color: #1B3764;
        font-weight: 700;
    }
    margin-inline: auto;
    
}
.main-reader-boxs{
    display: grid;
    grid-template-columns: repeat(2,550px);
    justify-content: center;
    margin-top: 100px;
    img{
        width: 700px;
    }
}
.main-reader-desc-title{
    font-size: 40px;
    color: #1B3764;
    width: 326px;
    margin-top: 70px;
}
.main-reader-border{
    width: 50px;
    border: 3px solid #FFCA42;
    margin: 20px 0px 20px 0px;
}
.main-reader-desc{
    color: #969AA0;
    width: 418px;
    line-height: 180%;
    padding: 0px 0px 20px 0px;
}
.main-reader-desc2{
    color: #1B3764;
    font-weight: 700;
}
.main-read-boxs{
    margin-top: 100px;
    background-color: #FFCA42;
    width: 1200px;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 100px;
}
.main-read-title{
    color: #1B3764;
    font-weight: 700;
    font-size: 35px;
    padding-top: 100px;
    padding-bottom: 10px;
}
.main-read-desc{
    color: #1B3764;
    font-size: 19px;
    width: 657px;
    margin-top: 20px;
    margin-inline: auto;
}
.main-read-border{
    width: 50px;
    border: 3px solid #1B3764;
    margin: auto;
}
.main-read-input-mail{
    width: 529px;
    padding: 10px;
    outline: none;
    height: 65px;
}
.main-read-subscribe-btn{
    width: 300px;
    height: 65px;
    background-color: #1B3764;
    color: #fff;
    margin-left: 10px;
    font-style: 19px;
    font-weight: 700;
    letter-spacing: 2%;
    line-height: 125%;
}
.main-read-form{
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-boxs{
    background-color: #1B3764;
    padding-top: 100px;
}
.footer-page-box{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.footer-img2{
    margin-top: -80px;
}
.footer-exp-box2{
    display: grid;
    grid-template-columns: 40px 100px;
    align-items: center;
    row-gap: 17px;
    a{
        color: #B4C7E7;
    }
}
.footer-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.footer-exp-title{
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 30px;
}
.footer-exp-box{
    margin-left: 100px;
}
.footer-page-box2{
    display: grid;
    grid-template-columns: 40px 190px;
    align-items: center;
    row-gap: 17px;
    a{
        color: #B4C7E7;
    }
}
.footer-page-title{
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 30px;
}
.footer-keep-box2{
    display: grid;
    grid-template-columns: 80px 190px;
    align-items: center;
    row-gap: 17px;
    column-gap: 20px;
    h1{
        color: #FFFFFF;
        font-size: 18px;
    }
}
.footer-keep-title{
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
}
.footer-keep-desc,.footer-keep-desc2,.footer-keep-desc3{
    color: #B4C7E7;
}
.footer-foot-border{
    border: 1px solid #fff;
    width: 1200px;
    margin: auto;
    opacity: 0.2;
    margin-top: 80px;
}
.footer-foot-desc{
    color: #B4C7E7;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width:576px) {
    .container{
        max-width: 100%;
    }
    .links{
        display: none;
    }
    .order-Box{
        display: none;
    }
    .shop{
        display: none;
    }
    .bars-img{
        display: block;
        
    }
    .header-main{
        grid-template-columns: repeat(1,1fr);
    }
    nav{
        display: grid;
        grid-template-columns: 150px 280px 100px;
    }
    .Header-Main-Background{
        margin-top: 50px;
        
    }
    .main-header-img-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        img{
            width: 400px;
            margin: auto;
        }
    }
    .main-best-boxs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 70px;
    }
    .main-copy-boxs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        img{
            width: 500px;
        }
    }
    .main-about-desc-boxs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        img{
            width: 400px;
        }
    }
    .main-about-desc-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        row-gap: 30px;
        
    }
    .main-desc-card-title2{
        width: 300px;
    }
    .main-about-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .main-chapter-carts{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .main-chapter-cart,.main-chapter-cart2,.main-chapter-cart3,.main-chapter-cart4{
        width: 450px;
        height: 300px;
    }
    .main-chapter-about-box{
        gap: 10px;
        display: flex;
        flex-direction: column;
        
    }
    .main-chapter-desc{
        width: 340px;
    }
    .Header-Desc-Title{
        font-size: 40px;
    }
    .Header-Main-Background{
        display: flex;
        justify-content: center;
    }
    .Header-Main-Background img{
        width: 400px;
        
    }
    .main-reader-boxs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       justify-items: center;
    }
    .main-reader-img{
        width: 450px !important;
        margin-top: 30px;
        text-align: center;
    }
    
    .main-read-boxs{
        width: 100%;
    }
    .main-read-input-mail{
        width: 200px;
        height: 30px;
    }
    .main-read-subscribe-btn{
        width: 100px;
        height: 30px;
    }
    .main-read-desc{
        width: 300px;

    }
    .footer-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 240px 300px 400px 300px;
        justify-items: center;
    }
    .footer-exp-box{
        margin-left: 0px;
    }
    .footer-keep-title{
        margin-top: 50px;
    }
    .footer-page-title{
        margin-top: 0px;
    }
    .footer-page-box2{
        margin-top: -180px;
    }
}